<section class="container">
    <h1 class="text-center mt-5" style="color: green;">Tu inventario</h1>
    <div class="py-4">
        <hr class="w-100" />
        <table class="table w-80 m-auto" style="background: green; height: 60px">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody>
                {{#each producto}}
                <tr>
                    <td>{{@index}}</td>
                    <td>
                        <div>
                            <img class="rounded-circle" src="../public/uploads/humor.jpeg" height="55" Width="75">
                        </div>
                    </td>
                    <td>{{this.nombre}}<br>{{this.precio}}<br>{{this.stock}}<br>{{this.descripcion}}<br></td>

                    <th><a class="btn btn-primary" style="margin: 20px" href="inicio" role="button">Inicia sesión</a>
                    </th>
                </tr>
                {{/each}}

            </tbody>
        </table>
        <div class="text-center mt-3">
            <a href="./">Página principal</a>
        </div>
</section>