<div class="container-fluid">
  <div class="biombo pb-5 px-5">
    <div class="row">
     
      <div class="col-12 col-md-6 mt-5 py-0 text-center rounded-start" style="background: aliceblue;">
        {{> cardVendedores }}
      </div>

      <div class="col-12 col-md-6 mt-5 py-5 rounded-end" style="background: aliceblue;">
        <section class="mt-5">
          {{#with productos.[0]}}
           <h1 class="text-center w-100 mt-4">¡¡¡ALGUIEN YA LO TIENE!!!!</h1>
           <h2 class="text-center w-150 mt-4 capitalize" style="font-size: 5rem;">{{nombrep}}</h2>
          {{/with}}
    
       
        </section>
        <h1 class="text-center w-100 mt-4">Ya casi es tuyo!!</h1>
      </div>
    </div>
  </div>

 <section>
  <h1 class="text-center mt-5" style="color: green;">Lista de vendedores</h1>
  <div class="py-4">
    <hr class="w-100" />

    <div class="table-responsive">
      <table class="table w-100 m-auto rounded" style="background: green; height: 60px">
   <thead>
  <tr>
    <th scope="col" class="d-none d-md-table-cell">Imagen</th>
    <th scope="col">Nombre</th>
    <th scope="col">Precio producto</th>
    <th scope="col">Stock</th>
    <th scope="col">Comuna/sector</th>
    <th scope="col"></th>
  </tr>
</thead>

<tbody>
  {{#each vendedores}}
  <tr>
    <td class="d-none d-md-table-cell">
      <div>
       <img class="rounded-circle" src="/uploads/{{this.foto}}"  onerror="this.onerror=null;this.parentNode.innerHTML='<a href=\'https://www.google.com/search?q={{this.nombrep}} {{this.marca}}&source=lnms&tbm=isch\' target=\'_blank\'>Intenta verlo por acá</a>';"
                  height="55" width="75">

      </div>
    </td>
    <td class="capitalize">{{this.nombre}}</td>
    <td class="capitalize">$ {{this.precio}}</td>
    <td class="capitalize">{{this.cantidad}}</td>
    <td class="capitalize">{{this.nombre_sector}}</td>
    <td>
      <button class="btn btn-primary m-auto" type="button"
        onclick="enviar('{{this.codigo}}','{{this.usuario}}','{{this.nombre}}', '{{this.nombrep}}', '{{this.precio}}', '{{this.cantidad}}', '{{this.nombre_sector}}')">Seleccionar</button>
    </td>
  </tr>
  {{/each}}
</tbody>
      </table>
    </div>

      <script>
function enviar(codigo, usuario, nombre, nombrep, precio, cantidad, nombre_sector) {
  var objeto = {
    codigo: codigo,
    usuario: usuario,
    nombre: nombre,
    nombrep: nombrep,
    precio: precio,
    cantidad: cantidad,
    nombre_sector: nombre_sector
  };
  fetch('/enviar-notificacion', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(objeto)
  })
    .then(function (response) {
      if (!response.ok) {
        throw new Error('Error en la respuesta del servidor: ' + response.status);
      }
      return response.json();
    })
    .then(function (data) {
      // Redirigir al navegador a la URL recibida
      window.location.href = data.redirectURL;
    })
    .catch(function (error) {
      console.error(error);
    });
}

      </script>

    </div>
  </section>
</div>
