<div class="container-fluid">
  {{!-- {{> navbarUsuario ESTA ES EL NAVBAR QUE LE CORRESPONDE, PERO MIENTRAS DESARROLLAMOS ESTARA COMENTADO POR COMODIDAD PARA LAS PRUEBAS}} --}}
    
  <div class="row" style="background: green;">    
    <div class="responsivo col-5"> 
      {{> cardUsuario }}      
    </div>    

    <div class="responsivo col-7 mt-5 py-5 text-center rounded" style="background: green;">
      <h1>Bienvenida Jimena{{this.nombre}}!!</h1>      
      <h2>Completa tu perfil</h2>
      <br>

      <form action="/perfil" method="POST" enctype="multipart/form-data">      
    
        <div class="form-group">
          <div class="form-group"> 
            <label for="nombre">Nombre</label><br>              
            <input type="text"  name="nombre" placeholder="Jimena Sanchez" class="form-control w-50 m-auto" />
          </div>          
          <div class="form-group pt-4">
            <label for="nombre">Email</label><br>         
            <input type="text" name="email" placeholder="nombre@gmail.com" class="form-control w-50 m-auto">
          </div>     
          <div class="form-group pt-4">
            <label for="nombre">Password</label><br>         
            <input type="password" name="password" placeholder="*********" class="form-control w-50 m-auto">
          </div>          
          <div class="form-group pt-4"> 
            <label for="nombre">Repite password</label><br>        
            <input type="password" name="repita_pasword" placeholder="***********" class="form-control w-50 m-auto">
          </div>
          <div class="form-group pt-5"> 
            <label for="nombre">Telefono</label><br>       
            <input type="text" name="telefono" placeholder="56999999999" class="form-control w-50 m-auto" />
          </div>
          <div class="form-group py-4">
            <label for="nombre">Direccion</label><br>         
            <input type="text" name="direccion" placeholder="calle las maravillas 456" class="form-control w-50 m-auto">
          </div>         
        </div>
        <label for="nombre">Comuna/Sector</label><br>
        <select class="form-select mb-3 w-50 m-auto" name="comuna/sector" aria-label="Default select example">          
          {{!-- <option value="maipu">Maipu</option>
          <option value="santiago">Santiago</option>
          <option value="vitacura">Vitacura</option> --}}
        </select>

        <div class="form-group col-12 col-sm-12">
          <p class="text-white pb-3">Sube tu foto de perfil</p><br>            
          <input type="file" name="foto" onchange="previewFile()"><br>          
        </div>

        <button class="btn btn-primary my-3 py- w-50 m-auto">Modificar</button>
        <button class="btn btn-danger my-3 py- w-50 m-auto">Eliminar</button>
        <br>
        <p>Registrar inventario<a href="./registrarInventario"></a></p>   
      </form>
    </div>
  </div>

  <section>
    <h1 class="text-center mt-5" style="color: green;">Tu inventario</h1>
    <div class="py-4">  
  <hr class="w-100"/>

  <table class="table w-80 m-auto" style="background: green; height: 60px">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>        
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Descripci칩n</th>                     
      </tr>
    </thead>

    <tbody> 
           
      {{#each productos}}
      <tr>
        <td>{{@index}}</td>
        <td>
          <div>                
            <img class="rounded-circle" src="../public/uploads/humor.jpeg" height="55" Width="75">                
          </div>
        </td>
        <td>{{this.nombre}}<br>{{this.precio}}<br>{{this.stock}}<br>{{this.descripcion}}<br></td>

        <th><a class="btn btn-primary" style="margin: 20px" href="inicio" role="button">Inicia sesi칩n</a></th>   
               
        {{!-- <td><input type="radio" name="seleccion" {{#if false }} checked {{/if}} onclick="autorizar({{this.d}}, this)"></td>    --}}
        
      </tr>  
      {{/each}} 
      
    </tbody>
  </table>
  <div class="text-center mt-3">    
    <a  href="./">P치gina principal</a>
  </div>
    
</div>


<script>

  const autorizar = async (cedula_de_identidad, e) => {    
    const seleccion = e.checked
    console.log(cedula_de_identidad, seleccion);
    try {
      await axios.put('/seleccion_especialista', {
        cedula_de_identidad,
        seleccion
      })
      alert(seleccion ? 'Especialista seleccionado, por favor confirme seleccion' : 'Ha ocurrido un error, intente m치s tarde');      
    }
    catch ({ respuesta }) {
      const { data } = respuesta
      const { error } = data
      alert(error)
    }    
  }
  
</script>  

  </section>
</div>

<script>

  function previewFile() {
    const preview = document.getElementById('pw');
    const file = document.querySelector('input[type=file').files[0];
    const reader = new FileReader();

    reader.addEventListener("load", () => {
      preview.src = reader.result;
    }, false);

    if (file) {
      reader.readAsDataURL(file);
    }
  }
  
</script>


