<div class="container-fluid">
  <div class="biombo row">
    <div class="responsivo mt-1 mb-1 col-5 rounded-start" style="background: green">

      {{> cardUsuario }}
      <div class="container col-5 text-center">
        <h2 class="text-center py-5">Ultimos movimientos</h2>


        <div id="movimientos" class="d-flex justify-content-between">
          <div>
            <a class="btn btn-primary mx-auto" href="./transacciones">Transacciones</a>
          </div>
          <div>
            <a class="btn btn-danger mx-auto" href="./notificacion">Notificaciones</a>
          </div>
        </div>

      </div>

    </div>

    <div class="responsivo col-7 mt-1 mb-1 py-5 text-center rounded-end" style="background: green;">
      <h1 style="color: aliceblue;">{{this.nombre}}!!</h1>
      <h2>Completa tu perfil</h2>
      <br>


      <form action="/perfil" method="GET" enctype="multipart/form-data">

        <div class="form-group">
          <div class="form-group">
            <label for="nombre">Nombre</label><br>
            <input type="text" name="nombre" placeholder="Ana Torres" class="form-control w-50 m-auto"
              value="{{#if this.nombre}}{{this.nombre}}{{/if}}" />
          </div>
          <div class="form-group pt-4">
            <label for="nombre">Email</label><br>
            <input type="text" name="email" placeholder="no funciona" class="form-control w-50 m-auto"
              value="{{#if this.email}}{{this.email}}{{/if}}">
          </div>
          <div class="form-group pt-4">
            <label for="nombre">Password</label><br>
            <input type="password" name="password" placeholder="*********" class="form-control w-50 m-auto"
              value="{{#if this.contraseña}}{{this.contraseña}}{{/if}}">
          </div>
          <div class="form-group pt-4">
            <label for="nombre">Repite password</label><br>
            <input type="password" name="repita_pasword" placeholder="***********" class="form-control w-50 m-auto"
              value="{{#if this.contraseña}}{{this.contraseña}}{{/if}}">
          </div>
          <div class="form-group pt-5">
            <label for="nombre">Telefono</label><br>
            <input type="text" name="telefono" placeholder="56999999999" class="form-control w-50 m-auto"
              value="{{#if this.telefono}}{{this.telefono}}{{/if}}" />
          </div>
          <div class="form-group py-4">
            <label for="nombre">Direccion</label><br>
            <input type="text" name="direccion" placeholder="calle las maravillas 456" class="form-control w-50 m-auto"
              value="{{#if this.direccion}}{{this.direccion}}{{/if}}">
          </div>
        </div>

        <label for="comuna">Comuna/Sector</label><br>
        <select class="form-select mb-3 w-50 m-auto" name="comuna" aria-label="Default select example">
          <option selected>Selecciona una comuna</option>
          <option value="Ñuñoa">Ñuñoa</option>
          <option value="Providencia">Providencia</option>
          <option value="Estación Central">Estación Central</option>
          <option value="Santiago Centro">Santiago Centro</option>
          <option value="Las Condes">Las Condes</option>
        </select>

        {{!-- <select id="regiones"></select>
        <select id="comunas"></select> --}}

        <div class="form-group col-12 col-sm-12">
          <p class="text-white pb-3">Sube tu foto de perfil</p><br>
          <input type="file" name="foto" onchange="previewFile()"><br>
        </div>

      </form>

      <input class="btn btn-primary my-3 py- w-50 m-auto" type="button" value="modificar" onClick="modificar()">
      <input class="btn btn-danger my-3 py- w-50 m-auto" type="button" value="eliminar" onClick="eliminar()">

      <script>
        function modificar() {
          window.alert("Tus datos han sido modificados");
        }
        function eliminar() {
          window.alert("Tus perfil ha sido borrado");
        }
      </script>

      {{!-- <script>
        var RegionesYcomunas = {

          "regiones": [{
            "NombreRegion": "Arica y Parinacota",
            "comunas": ["Arica", "Camarones", "Putre", "General Lagos"]
          },
          {
            "NombreRegion": "Tarapacá",
            "comunas": ["Iquique", "Alto Hospicio", "Pozo Almonte", "Camiña", "Colchane", "Huara", "Pica"]
          },
          {
            "NombreRegion": "Antofagasta",
            "comunas": ["Antofagasta", "Mejillones", "Sierra Gorda", "Taltal", "Calama", "Ollagüe", "San Pedro de Atacama", "Tocopilla", "María Elena"]
          },
          {
            "NombreRegion": "Atacama",
            "comunas": ["Copiapó", "Caldera", "Tierra Amarilla", "Chañaral", "Diego de Almagro", "Vallenar", "Alto del Carmen", "Freirina", "Huasco"]
          },
          {
            "NombreRegion": "Coquimbo",
            "comunas": ["La Serena", "Coquimbo", "Andacollo", "La Higuera", "Paiguano", "Vicuña", "Illapel", "Canela", "Los Vilos", "Salamanca", "Ovalle", "Combarbalá", "Monte Patria", "Punitaqui", "Río Hurtado"]
          },
          {
            "NombreRegion": "Valparaíso",
            "comunas": ["Valparaíso", "Casablanca", "Concón", "Juan Fernández", "Puchuncaví", "Quintero", "Viña del Mar", "Isla de Pascua", "Los Andes", "Calle Larga", "Rinconada", "San Esteban", "La Ligua", "Cabildo", "Papudo", "Petorca", "Zapallar", "Quillota", "Calera", "Hijuelas", "La Cruz", "Nogales", "San Antonio", "Algarrobo", "Cartagena", "El Quisco", "El Tabo", "Santo Domingo", "San Felipe", "Catemu", "Llaillay", "Panquehue", "Putaendo", "Santa María", "Quilpué", "Limache", "Olmué", "Villa Alemana"]
          },
          {
            "NombreRegion": "Región del Libertador Gral. Bernardo O’Higgins",
            "comunas": ["Rancagua", "Codegua", "Coinco", "Coltauco", "Doñihue", "Graneros", "Las Cabras", "Machalí", "Malloa", "Mostazal", "Olivar", "Peumo", "Pichidegua", "Quinta de Tilcoco", "Rengo", "Requínoa", "San Vicente", "Pichilemu", "La Estrella", "Litueche", "Marchihue", "Navidad", "Paredones", "San Fernando", "Chépica", "Chimbarongo", "Lolol", "Nancagua", "Palmilla", "Peralillo", "Placilla", "Pumanque", "Santa Cruz"]
          },
          {
            "NombreRegion": "Región del Maule",
            "comunas": ["Talca", "ConsVtución", "Curepto", "Empedrado", "Maule", "Pelarco", "Pencahue", "Río Claro", "San Clemente", "San Rafael", "Cauquenes", "Chanco", "Pelluhue", "Curicó", "Hualañé", "Licantén", "Molina", "Rauco", "Romeral", "Sagrada Familia", "Teno", "Vichuquén", "Linares", "Colbún", "Longaví", "Parral", "ReVro", "San Javier", "Villa Alegre", "Yerbas Buenas"]
          },
          {
            "NombreRegion": "Región del Biobío",
            "comunas": ["Concepción", "Coronel", "Chiguayante", "Florida", "Hualqui", "Lota", "Penco", "San Pedro de la Paz", "Santa Juana", "Talcahuano", "Tomé", "Hualpén", "Lebu", "Arauco", "Cañete", "Contulmo", "Curanilahue", "Los Álamos", "Tirúa", "Los Ángeles", "Antuco", "Cabrero", "Laja", "Mulchén", "Nacimiento", "Negrete", "Quilaco", "Quilleco", "San Rosendo", "Santa Bárbara", "Tucapel", "Yumbel", "Alto Biobío", "Chillán", "Bulnes", "Cobquecura", "Coelemu", "Coihueco", "Chillán Viejo", "El Carmen", "Ninhue", "Ñiquén", "Pemuco", "Pinto", "Portezuelo", "Quillón", "Quirihue", "Ránquil", "San Carlos", "San Fabián", "San Ignacio", "San Nicolás", "Treguaco", "Yungay"]
          },
          {
            "NombreRegion": "Región de la Araucanía",
            "comunas": ["Temuco", "Carahue", "Cunco", "Curarrehue", "Freire", "Galvarino", "Gorbea", "Lautaro", "Loncoche", "Melipeuco", "Nueva Imperial", "Padre las Casas", "Perquenco", "Pitrufquén", "Pucón", "Saavedra", "Teodoro Schmidt", "Toltén", "Vilcún", "Villarrica", "Cholchol", "Angol", "Collipulli", "Curacautín", "Ercilla", "Lonquimay", "Los Sauces", "Lumaco", "Purén", "Renaico", "Traiguén", "Victoria",]
          },
          {
            "NombreRegion": "Región de Los Ríos",
            "comunas": ["Valdivia", "Corral", "Lanco", "Los Lagos", "Máfil", "Mariquina", "Paillaco", "Panguipulli", "La Unión", "Futrono", "Lago Ranco", "Río Bueno"]
          },
          {
            "NombreRegion": "Región de Los Lagos",
            "comunas": ["Puerto Montt", "Calbuco", "Cochamó", "Fresia", "FruVllar", "Los Muermos", "Llanquihue", "Maullín", "Puerto Varas", "Castro", "Ancud", "Chonchi", "Curaco de Vélez", "Dalcahue", "Puqueldón", "Queilén", "Quellón", "Quemchi", "Quinchao", "Osorno", "Puerto Octay", "Purranque", "Puyehue", "Río Negro", "San Juan de la Costa", "San Pablo", "Chaitén", "Futaleufú", "Hualaihué", "Palena"]
          },
          {
            "NombreRegion": "Región Aisén del Gral. Carlos Ibáñez del Campo",
            "comunas": ["Coihaique", "Lago Verde", "Aisén", "Cisnes", "Guaitecas", "Cochrane", "O’Higgins", "Tortel", "Chile Chico", "Río Ibáñez"]
          },
          {
            "NombreRegion": "Región de Magallanes y de la AntárVca Chilena",
            "comunas": ["Punta Arenas", "Laguna Blanca", "Río Verde", "San Gregorio", "Cabo de Hornos (Ex Navarino)", "AntárVca", "Porvenir", "Primavera", "Timaukel", "Natales", "Torres del Paine"]
          },
          {
            "NombreRegion": "Región Metropolitana de Santiago",
            "comunas": ["Cerrillos", "Cerro Navia", "Conchalí", "El Bosque", "Estación Central", "Huechuraba", "Independencia", "La Cisterna", "La Florida", "La Granja", "La Pintana", "La Reina", "Las Condes", "Lo Barnechea", "Lo Espejo", "Lo Prado", "Macul", "Maipú", "Ñuñoa", "Pedro Aguirre Cerda", "Peñalolén", "Providencia", "Pudahuel", "Quilicura", "Quinta Normal", "Recoleta", "Renca", "San Joaquín", "San Miguel", "San Ramón", "Vitacura", "Puente Alto", "Pirque", "San José de Maipo", "Colina", "Lampa", "TilVl", "San Bernardo", "Buin", "Calera de Tango", "Paine", "Melipilla", "Alhué", "Curacaví", "María Pinto", "San Pedro", "Talagante", "El Monte", "Isla de Maipo", "Padre Hurtado", "Peñaflor"]
          }]
        }


        jQuery(document).ready(function () {

          var iRegion = 0;
          var htmlRegion = '<option value="sin-region">Seleccione región</option><option value="sin-region">--</option>';
          var htmlComunas = '<option value="sin-region">Seleccione comuna</option><option value="sin-region">--</option>';

          jQuery.each(RegionesYcomunas.regiones, function () {
            htmlRegion = htmlRegion + '<option value="' + RegionesYcomunas.regiones[iRegion].NombreRegion + '">' + RegionesYcomunas.regiones[iRegion].NombreRegion + '</option>';
            iRegion++;
          });

          jQuery('#regiones').html(htmlRegion);
          jQuery('#comunas').html(htmlComunas);

          jQuery('#regiones').change(function () {
            var iRegiones = 0;
            var valorRegion = jQuery(this).val();
            var htmlComuna = '<option value="sin-comuna">Seleccione comuna</option><option value="sin-comuna">--</option>';
            jQuery.each(RegionesYcomunas.regiones, function () {
              if (RegionesYcomunas.regiones[iRegiones].NombreRegion == valorRegion) {
                var iComunas = 0;
                jQuery.each(RegionesYcomunas.regiones[iRegiones].comunas, function () {
                  htmlComuna = htmlComuna + '<option value="' + RegionesYcomunas.regiones[iRegiones].comunas[iComunas] + '">' + RegionesYcomunas.regiones[iRegiones].comunas[iComunas] + '</option>';
                  iComunas++;
                });
              }
              iRegiones++;
            });
            jQuery('#comunas').html(htmlComuna);
          });
          jQuery('#comunas').change(function () {
            if (jQuery(this).val() == 'sin-region') {
              alert('selecciones Región');
            } else if (jQuery(this).val() == 'sin-comuna') {
              alert('selecciones Comuna');
            }
          });
          jQuery('#regiones').change(function () {
            if (jQuery(this).val() == 'sin-region') {
              alert('selecciones Región');
            }
          });

        });
      </script> --}}

      <p><a class="nav-link" href="./inventario">Gestiona tu inventario</a></p>

    </div>
  </div>

  <section>
    <h1 class="text-center mt-5" style="color: green;">Tu inventario</h1>
    <div class="py-4">
      <hr class="w-100" />

      <table class="table w-80 m-auto rounded" style="background: green; height: 60px">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Descripción</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td>{{@index}}</td>
            <td>
              <div>
                <img class="rounded-circle" src="/uploads/pitanga.jpg" height="55" Width="75">
              </div>
            </td>

            <td>Perfume Pitanga</td>
            <td>54.990</td>
            <td>18</td>
            <td>Masculino</td>
          </tr>

        </tbody>
      </table>
      <div class="text-center mt-3">
        <th><a class="btn btn-primary" style="margin: 20px" href="./" role="button">Cerrar sesion</a></th>
      </div>
    </div>
  </section>
</div>

<script>

  function previewFile() {
    const preview = document.getElementById('ppUsuario');
    const file = document.querySelector('input[type=file').files[0];
    const reader = new FileReader();

    reader.addEventListener("load", () => {
      preview.src = reader.result;
    }, false);

    if (file) {
      reader.readAsDataURL(file);
    }
  }

</script>