<div class="container-fluid">
 
  <div class="fondo pb-5 px-5" style="background: aliceblue;">
    <div class="row" style="background: aliceblue;">
    <h1 class="text-center mt-5" style="color: green;">Producto encontrado</h1>    
        <div class="container responsivo col-6 mt-5 py-5 text-center rounded-left" style="background: rgb(192, 190, 190);">
            {{> cardEncontrado }}
        </div>
        <div class="container responsivo col-6 mt-5 py-5 rounded-right" style="background: rgb(192, 190, 190);">
            <section class="mt-5">
                <h1>Natura</h1>
                <h1>Ekos frescor</h1>
                <h1>Pitanga eau de toilette 150ml.</h1>             
            </section>
            <h2>para ver detalles inicia sesion</h2><br>            
            <button class="btn btn-primary mb-4 py-2 w-40 m-auto">Inicia sesión</button>
            <h2>Aun no estas registrado?</h2>
        </div>    
    </div>
  </div>

  <section>
    <h1 class="text-center mt-5" style="color: green;">Productos disponibles</h1>
    <div class="py-4">  
  <hr class="w-100"/>

  <table class="table w-80 m-auto" style="background: green; height: 60px">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>        
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Descripción</th>                     
      </tr>
    </thead>

    <tbody> 
           
      {{#each productos}}
      <tr>
        <td>{{@index}}</td>
        <td>
          <div>                
            <img class="rounded-circle" src="../public/uploads/humor.jpeg" height="55" Width="75">                
          </div>
        </td>
        <td>{{this.nombre}}<br>{{this.precio}}<br>{{this.stock}}<br>{{this.descripcion}}<br></td>

        <th><a class="btn btn-primary" style="margin: 20px" href="inicio" role="button">Inicia sesión</a></th>   
               
        {{!-- <td><input type="radio" name="seleccion" {{#if false }} checked {{/if}} onclick="autorizar({{this.id}}, this)"></td>    --}}
        
      </tr>  
      {{/each}} 
      
    </tbody>
  </table>
  <div class="text-center mt-3">
    <button class="btn btn-primary mb-4 py-2 w-40 m-auto">Ir al buscador</button><br>  

    <a  href="./">Página principal</a>
  </div>
    
</div>


<script>

  const autorizar = async (id, e) => {    
    const seleccion = e.checked
    console.log(id, seleccion);
    try {
      await axios.put('/seleccion', {
        id,
        seleccion
      })
      alert(seleccion ? 'Producto seleccionado, por favor confirme seleccion' : 'Ha ocurrido un error, intente más tarde');      
    }
    catch ({ respuesta }) {
      const { data } = respuesta
      const { error } = data
      alert(error)
    }    
  }
  
</script>  

  </section>
</div>

<script>

  function previewFile() {
    const preview = document.getElementById('pw');
    const file = document.querySelector('input[type=file').files[0];
    const reader = new FileReader();

    reader.addEventListener("load", () => {
      preview.src = reader.result;
    }, false);

    if (file) {
      reader.readAsDataURL(file);
    }
  }
  
</script>
