<style>#cabecera { width: 100%;}</style>
<div class="py-4">
  <h1>Lista de vendedoras</h1>
  <hr class="w-100"/>

  <table class="table table-dark w-80 m-auto">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>        
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Comuna/Sector</th>
      </tr>
    </thead>

    <tbody> 
           
      {{#each vendedor}}
      <tr>
        <td>{{@index}}</td>
        <td>
          <div>                
            <img class="rounded-circle" src="{{this.foto}}" height="55" Width="75">                
          </div>
        </td>
        <td>{{this.nombre}}<br>{{this.precio}}<br>{{this.stock}}<br>{{this.sector}}<br></td> 
               
        <td><input type="radio" name="seleccion" {{#if false }} checked {{/if}} onclick="autorizar({{this.id}}, this)"></td>   
        
      </tr>  
      {{/each}} 
      
    </tbody>
  </table>
  <div class="text-center mt-3">    
    <a  href="./">Página principal</a>
  </div>
    
</div>


<script>

  const autorizar = async (id, e) => {    
    const seleccion = e.checked
    console.log(id, seleccion);
    try {
      await axios.put('/seleccion', {
        id,
        seleccion
      })
      alert(seleccion ? 'Vendedor seleccionado, por favor confirme seleccion' : 'Ha ocurrido un error, intente más tarde');      
    }
    catch ({ respuesta }) {
      const { data } = respuesta
      const { error } = data
      alert(error)
    }    
  }
  
</script>   