<div class="container-fluid">
  <section class="biombo">
    <h1 class="text-center pt-5" style="color: green;">Tu historial de transacciones</h1>
    {{> cardNotificacion }}
    {{!-- <h1 class="text-center mt-5" style="color: aliceblue;">Tienes una solicitud de compra</h1> --}}
    <div class="py-4">
      <hr class="w-100" />
  </section>
  <table class="table w-80 m-auto rounded" style="background: green; height: 60px">
    <thead>
      <tr>
<<<<<<< HEAD

        <th scope="col">Compra/venta</th>
        <th scope="col">Imagen</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Quien Vendio</th>
      </tr>
    </thead>

    <tbody>
      {{#each transacciones}}
      <tr>

        <td>{{this.tipo_de_compra}}</td>
        <td>
          <div>
            <img class="rounded-circle" src="/uploads/{{this.nombrep}}.jpg"
              onerror="this.onerror=null;this.parentNode.innerHTML='<a href=\'https://www.google.com/search?q={{this.nombrep}} {{this.marca}}&source=lnms&tbm=isch\' target=\'_blank\'>Intenta verlo por acá</a>';"
              height="55" width="75">


          </div>
        </td>

=======
        
        <th scope="col">Compra/venta</th>
        <th scope="col">Imagen</th>
        <th scope="col">Producto</th>        
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Nombre</th>                     
      </tr>
    </thead>

    <tbody> 
      {{#each transacciones}}
      <tr>
       
        <td>{{this.tipo_de_compra}}</td>
        <td>
            <div>                
             <img class="rounded-circle" src="/uploads/{{this.nombrep}}.jpg" onerror="this.onerror=null;this.parentNode.innerHTML='<a href=\'https://www.google.com/search?q={{this.nombrep}} {{this.marca}}&source=lnms&tbm=isch\' target=\'_blank\'>Intenta verlo por acá</a>';" height="55" width="75">

               
            </div>
          </td>
                    
>>>>>>> e70cecc0baf5ffcc713dad373755f59e4f200b32
        <td>{{this.nombrep}}</td>
        <td>$ {{this.precio}}</td>
        <td>{{this.cantidad}}</td>
        <td>{{this.usuario}}</td>
<<<<<<< HEAD
        

<td>
          {{!-- boton para confirmar contacto con vendedor--}}
{{#if (and (ne this.u_solicitado usuarioObj.usuario))}}
  <button class="btn btn-primary m-auto" type="button"
    onclick="confirmaContacto('{{this.u_solicitante}}', '{{this.n_solicitante}}', '{{this.u_solicitado}}', '{{this.n_solicitado}}', '{{this.cod_producto}}', '{{this.nombrep}}', '{{this.estado_compra}}','{{this.cantidad}}')">Quiero contactarme con {{this.n_solicitado}}</button>
{{/if}}
       </td>

      </tr>

      {{/each}}

    </tbody>
  </table>
  <br>
</div>
=======
  
      </tr> 

       {{/each}} 
      
       </tbody>
  </table>  
  <br>
</div> 
>>>>>>> e70cecc0baf5ffcc713dad373755f59e4f200b32
</div>