<div class="container-fluid">   
  <div class="biombo pt-5 pb-5 px-5">
    <h1 class="text-center pb-5" style="color: green;">Registra tus productos aquí</h1> 
    <div class="row rounded px-5" style="background: aliceblue;">    
    {{> cardInventario }}    
    
    <div class="responsivo col-7 mt-5 mb-5 py-5 text-center rounded" style="background: green;">      
      <h1 style="color: #f0f8ff;">Inventario</h1><br>      
      <form action="/tuInventario" method="POST" enctype="multipart/form-data">      
    
        <div class="form-group">
             <div class="form-group pt-4">
            <label for="nombre">Marca</label><br>         
            <input type="text" name="marca" placeholder="Natura" class="form-control w-50 m-auto">
          </div>
           <div class="form-group"> 
            <label for="nombre">Nombre producto</label><br>              
            <input type="text"  name="nombrep" placeholder="Pitanga" class="form-control w-50 m-auto" />
          </div>
          <div class="form-group pt-5"> 
             <label for="nombre">Precio</label><br>        
            <input type="text" name="precio" placeholder="21.990" class="form-control w-50 m-auto" />
          </div>          
          {{!-- <div class="form-group pt-4">
            <label for="nombre">Marca</label><br>         
            <input type="text" name="marca" placeholder="Natura" class="form-control w-50 m-auto">
          </div>     
          <div class="form-group pt-4">
            <label for="nombre">Stock</label><br>         
            <input type="text" name="stock" placeholder="2" class="form-control w-50 m-auto"> --}}
          </div>          
        {{!-- </div>
        <label class="pt-4" for="nombre">Descripción del producto</label><br>
        <textarea class="rounded" name="textarea"  rows="4" cols="50">Descripcion</textarea> --}}
       
        <div class="form-group col-12 col-sm-12">
          <p class="text-white pb-3">Sube una foto del producto</p><br>            
          <input type="file" name="foto" onchange="previewFile()"><br>          
        </div>

       <input class="btn btn-primary my-3 py- w-50 m-auto" type="submit" value="Agregar" onClick="agregar()">
      <input class="btn btn-danger my-3 py- w-50 m-auto" type="submit" value="Eliminar" onClick="eliminar()">

      <script>
        function agregar() {
          window.alert("Tu producto ha sido agregado");
        }
        function eliminar() {
          window.alert("Tu producto ha sido eliminado");
        }
      </script>
          
      </form>
    </div>
  </div>
</div>

  <section>
    <h1 class="text-center mt-5" style="color: green;">Tu inventario</h1>
    <div class="py-4">  
  <hr class="w-100"/>

  <table class="table w-80 m-auto rounded" style="background: green; height: 60px">
    <thead>
      <tr>
     
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>        
        <th scope="col">Precio</th>
        <th scope="col">Marca</th>
        <th scope="col">Stock</th>
        <th scope="col">Descripción</th>                     
      </tr>
    </thead>
<tbody>            
        {{#each productos}}
        <tr>
          <td>
            <div>                
             <img class="rounded-circle" src="/uploads/{{this.nombrep}}.jpg" onerror="this.onerror=null;this.parentNode.innerHTML='<a href=\'https://www.google.com/search?q={{this.nombrep}} {{this.marca}}&source=lnms&tbm=isch\' target=\'_blank\'>Intenta verlo por acá</a>';" height="55" width="75">

               
            </div>
          </td>
          <td>{{this.nombrep}}</td>
          <td>${{this.precio}}</td>
          <td>{{this.marca}}</td>
          <td>{{this.cantidad}}</td>
          <td>{{this.cliente}}</td>
        </tr>  
        {{/each}}    
      </tbody>
  
  </table>
  <div class="text-center mt-3">    
  <th><a class="btn btn-primary" style="margin: 20px" href="/" role="button">Pagina Principal</a></th>
  </div>

  </section>
</div>

<script>

  function previewFile() {
    const preview = document.getElementById('ppInventario');
    const file = document.querySelector('input[type=file').files[0];
    const reader = new FileReader();

    reader.addEventListener("load", () => {
      preview.src = reader.result;
    }, false);

    if (file) {
      reader.readAsDataURL(file);
    }
  }
  
</script>
